body{
    font-family: Arial, Helvetica, sans-serif;
}

/* css HEADER */

section#sony{
    background-color: black;
    height: 50px;
}

header nav{
    background-color: aqua;
    height: 80px;
}

/* css MAIN */

div.my_square_jumbo{
    background-color: magenta;
    height: 400px;
}

main section,
footer section{
    margin-top: 3rem;
}

div.my_square_game{
    background-color: lime;
    height: 150px;
}

div.my_title{
    background-color: blue;
    height: 70px;
}

section#jumbotron-middle{
    background-color: #1f1f1f;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

div.my_ps_five{
    height: 100px;
    background-color: brown;
}

div.my_products{
    background-color: magenta;
    height: 70px;
}

div.play_four_product{
    background-color: red;
    height: 150px;
}

section#playstation-plus{
    background-color: #bebcbb;
}

div.pp{
    height: 200px;
    background-color: yellow;
}

div.discount{
    height: 175px;
    background-color: coral;
}

section#playstation-now{
    background-color: #161c3b;
}

div.social-media{
    height: 100px;
    background-color: slateblue;
}
