body{
    font-family: Arial, Helvetica, sans-serif;
}

/* css HEADER */

section#sony{
    background-color: black;
    height: 50px;
}

div#sony-logo{
    width: 200px;
}

div#sony-logo img{
    width: 50%;
}

img#lens{
    width: 50%;
}

li#lens_id{
    text-align: center;
}

span#accedi{
    padding: .5rem 1rem;
    border-radius: 40px;
}

header nav{
    height: 80px;
}

/* css MAIN */

section#jumbo-top{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    color: white;
    height: 600px;
}

button.buy_now{
    background-color: #cd3d0f;
    padding: .5rem 1rem;
    border-radius: 40px;
    border: none;
    color: white;
}

section.title{
    text-align: center;
}

section.title div p{
    margin: 0;
}

section#playstation-five{
    padding-top: 5rem;
}

section#playstation-five button{
    border: none;
    padding: .5rem 1rem;
    border-radius: 40px;
}

section#jumbotron-middle{
    background-color: #1f1f1f;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

div.my_ps_five{
    height: 100px;
    background-color: brown;
}

div.my_products{
    background-color: magenta;
    height: 70px;
}

div.play_four_product{
    background-color: red;
    height: 150px;
}

section#playstation-plus{
    background-color: #bebcbb;
}

div.pp{
    height: 200px;
    background-color: yellow;
}

div.discount{
    height: 175px;
    background-color: coral;
}

section#playstation-now{
    background-color: #161c3b;
}

div.social-media{
    height: 100px;
    background-color: slateblue;
}

section#footer-bottom{
    background-color: #00439c;
}

div.foot{
    height: 100px;
    width: 50px;
    background-color: magenta;
}