body{
    font-family: Arial, Helvetica, sans-serif;
}

/* css HEADER */

section#sony{
    background-color: black;
    height: 50px;
}

header nav{
    background-color: aqua;
    height: 80px;
    position: fixed;
}