body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* css HEADER */

header{
    position: fixed;
    z-index: 3;
    width: 100%;
}

section#sony{
    background-color: black;
    height: 50px;
}

div#sony-logo{
    width: 200px;
}

div#sony-logo img{
    width: 50%;
}

img#lens{
    width: 50%;
}

li#lens_id{
    text-align: center;
}

span#accedi{
    padding: .5rem 1rem;
    border-radius: 40px;
}

header nav{
    height: 80px;
    background-color: white;
}

/* css MAIN */

main{
    padding-top: 130px;
}

section#jumbo-top{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 350px;
}

button.buy_now{
    background-color: #cd3d0f;
    padding: .5rem 1rem;
    border-radius: 40px;
    border: none;
    color: white;
}

section.title{
    text-align: center;
}

section.title div p{
    margin: 0;
}

section#ps_five_type{
    padding: 4rem 0;
}

section#playstation-five button,
section#playstation-four-market button,
section#playstation-plus button,
section#playstation-now button{
    border: none;
    padding: .5rem 1rem;
    border-radius: 40px;
}

section#jumbo-middle{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 50px;
}

section#jumbotron-middle section.games{
    background-color: #1f1f1f;
    color: white;
}

section#playstation-plus{
    background-color: #bebcbb;
}

section#playstation-plus button{
    background-color: #d9dadc;
}

section#playstation-now button{
    background-color: #f5f5f5;
}

section#playstation-now{
    background-color: #161c3b;
}

/* css FOOTER */

footer{
    font-size: .75rem;
    color: white;
}

footer ul{
    list-style-type: none;
    padding-left: 1rem;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p a{
    text-decoration: underline;
}

section#footer-bottom{
    background-color: #00439c;
}

section#footer-bottom li{
    padding-bottom: .65rem;
}
